* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fff8f2;
  color: #2e2e2e;
}

/* ================= NAVBAR ================= */
.navbar {
  position: sticky;
  top: 0;
  background: #7b1e1e;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 22px;
}

.nav-links a.active {
  color: #f4b400;
}

.order-btn {
  background: #f4b400;
  color: #7b1e1e !important;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
}

/* Hamburger */
.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 100vh;
  background: #7b1e1e;
  padding: 70px 25px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  transition: 0.3s;
  z-index: 2000;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu.active {
  right: 0;
}

/* ================= HERO ================= */
.order-hero {
  text-align: center;
  padding: 60px 20px;
  color:black;
}

.order-hero h1 {
  font-size: 38px;
}

/* ================= ORDER SECTION ================= */
.order-section {
  padding: 50px 20px;
}

.order-card {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

h3 {
  margin: 15px 0;
  color: #7b1e1e;
}

/* Menu Items */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.item input[type="number"] {
  width: 70px;
  padding: 6px;
  display: none;
}

/* Summary */
.summary {
  margin-top: 20px;
  font-weight: bold;
}

.datetime {
  font-size: 14px;
  color: gray;
}

/* Button */
button {
  width: 100%;
  margin-top: 20px;
  background: #7b1e1e;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* Message */
#msg {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

/* Footer */
footer {
  background: #2b0d0d;
  color: #ccc;
  text-align: center;
  padding: 15px;
  margin-top: 60px;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
